---
import PrimaryLayout from "../layouts/PrimaryLayout.astro";
import GeneralInquiries from "../components/GeneralInquiries.astro";
import Footer from "../components/Footer.astro";

const metaTitle = "About Friendly Home Care";
const metaDescription="We specialize in in-home care, companion, and personal care. For a consultation, speak with our team at 773-545-7776 in Chicago, IL.";
const metaKeywords ="Personalized Home Care, In-home Care, Friendly Home Care in Chicago, IL, European Care Service, European Language, Companion for the Elderly, Assistance for the Seniors, Personal Care, Live-ins Caregivers, Overnight Care, Personal &amp; Trusted In-Home Care Service, Quality Home Care, Excellent Home Care, Dependable Home Care";
const canonicalUrl = "https://chicagoeuropeancaregivers.com/about-us";
---

<PrimaryLayout metaTitle={metaTitle} metaDescription={metaDescription} metaKeywords={metaKeywords} canonicalUrl={canonicalUrl}>
	<div class="container-fluid bg-white">
    <div class="container p-0">
      <section class="row align-items-center">
        <div class="col-12 col-lg-8 offset-lg-2 py-5">
          <h1 class="fw-bold ff-slab uppercase text-center text-primary m-0">
            About Friendly Home Care
          </h1>
        </div>
        <div class="col-12 col-lg-8 offset-lg-2">
          <img
            src="/images/friendly-home-care-21.jpg"
            class="w-100 br-default img-p-cover"
            alt="Beautiful mature women"
          />
        </div>
      </section>
    </div>
  </div>
  <div class="container-fluid bg-white">
    <div class="container py-5">
      <section class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
          <p>
            Welcome to <strong>Friendly Home Care</strong>, your premier full-service domestic
            placement agency nestled in the heart of Chicago, IL. With over
            three decades of dedicated service, we pride ourselves on offering
            top-tier placement solutions tailored to meet all your domestic
            needs. As an independent agency, we specialize in connecting you
            with trustworthy caregivers, housekeepers, house managers,
            domestic couples, drivers, and babysitters, serving Chicago and
            its surrounding suburbs with unwavering commitment.
          </p>
          <p>
            At Friendly Home Care, we empower our clients with the freedom to
            handpick their ideal candidates while directly managing payments,
            ensuring a cost-effective and personalized experience. With a
            rigorous screening process in place, rest assured that every staff
            member is meticulously vetted, prioritizing your peace of mind and
            satisfaction above all else. Recognizing the uniqueness of each
            case, we meticulously curate our pool of caregivers, senior
            companions, housekeepers, and babysitters to align with your
            specific requirements.
          </p>
          <h2 class="fw-bold mt-5 mb-4 ff-slab uppercase text-tertiary">
            Our mission
          </h2>
          <p>
            Our mission is to enrich lives with compassion, respect, and
            unwavering support, delivering affordable services backed by a
            team of dedicated professionals who genuinely understand and
            prioritize your needs. Whether you seek non-medical care for
            seniors or professional assistance, we're here to make a tangible
            difference in your daily life.
          </p>
          <h2 class="fw-bold mt-5 mb-4 ff-slab uppercase text-tertiary">
            Why Choose Friendly Home Care?
          </h2>
          <p>
            Embrace the warmth of genuine care and the assurance of
            reliability with Friendly Home Care. As the leading provider of
            dependable service, we boast a diverse team of friendly European
            staff fluent in English, Polish, Italian, Russian, and Ukrainian.
            Our commitment to your well-being is unwavering, underscored by
            our dedication to delivering non-medical and personal care for
            seniors in need.
          </p>
          <p>
            Research underscores the healing power of home environments, where
            individuals often experience faster recovery and improved
            well-being. By choosing Friendly Home Care, you gain the freedom
            to select the most qualified and experienced caregiver, ensuring
            unparalleled support tailored to your unique circumstances.
          </p>
          <p>
            In today's fast-paced world, finding consistent assistance and
            companionship can be challenging. However, with Friendly Home
            Care, you can invite confidence into your home. Our caregivers
            adhere to the highest professional standards, each boasting
            extensive experience and glowing recommendations.
          </p>
          <h2 class="fw-bold mt-5 mb-4 ff-slab uppercase text-tertiary">
            Trust and Excellence, Guaranteed
          </h2>
          <p>
            Rest easy knowing that Friendly Home Care is a fully licensed and
            bonded home services placement agency, authorized by both the Illinois
            Department of Public Health and the Illinois Department of Labor.
            Our comprehensive range of services includes:
          </p>
          <ul>
            <li>
              Caregivers and Certified Nursing Assistants (CNAs) for elderly
              assistance
            </li>
            <li>Companionship services</li>
            <li>House managers for seamless household management</li>
            <li>Domestic couples for comprehensive home care</li>
            <li>Experienced drivers for safe and reliable transportation</li>
            <li>Babysitters and nannies for attentive childcare</li>
          </ul>
          <p>
            Experience the difference with <strong>Friendly Home Care</strong>, where trust and
            excellence converge to redefine domestic placement services.
          </p>
        </div>
      </section>
    </div>
  </div>
  <GeneralInquiries />
  <Footer />
</PrimaryLayout>