---
import PrimaryLayout from "../layouts/PrimaryLayout.astro";
import Footer from "../components/Footer.astro";

const metaTitle = "Privacy Policy for Friendly Home Care";
const metaDescription="";
const metaKeywords ="";
const canonicalUrl = "https://chicagoeuropeancaregivers.com/privacy-policy";

---

<PrimaryLayout metaTitle={metaTitle} metaDescription={metaDescription} metaKeywords={metaKeywords} canonicalUrl={canonicalUrl}>
	<div class="container-fluid bg-white">
    <div class="container p-0">
      <section class="row align-items-center pb-5">
        <div class="col-12 col-lg-8 offset-lg-2 py-5">
          <h1 class="fw-bold ff-slab uppercase text-center text-primary m-0">
            Privacy Policy for<br />Friendly Home Care
          </h1>
        </div>
        <div class="col-12 col-lg-8 offset-lg-2">
          <p>
            Thank you for visiting ChicagoEuropeanCaregivers.com. We understand the importance of privacy and are committed to protecting the personal information of our visitors and clients. This Privacy Policy outlines how we collect, use, and safeguard your information when you visit our website.
          </p>
          <p class="h5 mb-3 fw-bold">Information We Collect:</p>
          <p>
            When you visit ChicagoEuropeanCaregivers.com, we may collect certain information automatically through cookies and similar tracking technologies. This information may include your IP address, browser type, device type, and pages visited on our site. We use Google Analytics to gather and analyze this data in order to improve our website and better serve our visitors.
          </p>
          <p class="h5 mb-3 fw-bold">Use of Cookies:</p>
          <p>
            Cookies are small files stored on your device that help improve your browsing experience. We use cookies to analyze website traffic, personalize content, and provide targeted advertisements. You can choose to disable cookies through your browser settings, although this may affect your ability to access certain features of our website.
          </p>
          <p class="h5 mb-3 fw-bold">How We Use Your Information:</p>
          <p>
            We use the information collected through Google Analytics to analyze website traffic patterns, identify popular pages, and improve user experience. We do not collect any personally identifiable information unless provided voluntarily through our contact form or other communication channels.
          </p>
          <p class="h5 mb-3 fw-bold">Third-Party Disclosure:</p>
          <p>
            We do not sell, trade, or otherwise transfer your information to outside parties. However, we may share non-personally identifiable information with trusted third-party service providers who assist us in operating our website, conducting business, or servicing clients.
          </p>
          <p class="h5 mb-3 fw-bold">Data Security:</p>
          <p>
            We take the security of your information seriously and have implemented various measures to protect it from unauthorized access, disclosure, alteration, or destruction. However, please note that no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee absolute security.
          </p>
          <p class="h5 mb-3 fw-bold">Children's Privacy:</p>
          <p>
            Our website is not directed towards children under the age of 13, and we do not knowingly collect any personal information from individuals under 13 years of age. If you believe that we have inadvertently collected personal information from a child under 13, please contact us immediately, and we will take appropriate steps to remove such information from our records.
          </p>
          <p class="h5 mb-3 fw-bold">Updates to Privacy Policy:</p>
          <p>
            We reserve the right to update or modify this Privacy Policy at any time without prior notice. Any changes will be posted on this page, and the revised policy will be effective immediately upon posting. We encourage you to review this Privacy Policy periodically for any updates or changes.
          </p>
          <p class="h5 mb-3 fw-bold">Contact Us:</p>
          <p>
            If you have any questions or concerns regarding this Privacy Policy or our data practices, please contact us at <a href="mailto:friendly@chicagoeuropeancaregivers.com">friendly@chicagoeuropeancaregivers.com</a>.
          </p>
          <p>
            By using our website, you consent to the terms outlined in this Privacy Policy. Thank you for choosing <strong>Friendly Home Care</strong>.
          </p>
        </div> 
      </section>
    </div>
  </div>
  <Footer />
</PrimaryLayout>