---
import PrimaryLayout from "../layouts/PrimaryLayout.astro";
import Footer from "../components/Footer.astro";

const metaTitle = "Sitemap - Friendly Home Care";
const metaDescription="";
const metaKeywords ="";
const canonicalUrl = "https://chicagoeuropeancaregivers.com/sitemap";

---

<PrimaryLayout metaTitle={metaTitle} metaDescription={metaDescription} metaKeywords={metaKeywords} canonicalUrl={canonicalUrl}>
	<div class="container-fluid bg-white">
    <div class="container p-0">
      <section class="row align-items-center pb-5">
        <div class="col-12 col-lg-8 offset-lg-2 py-5">
          <h1 class="fw-bold ff-slab uppercase text-center text-primary m-0">
            Sitemap of Friendly Home Care
          </h1>
        </div>
        <div class="col-12 col-lg-8 offset-lg-2">
          <p><a href="https://chicagoeuropeancaregivers.com">Home</a></p>
          <p><a href="https://chicagoeuropeancaregivers.com/about-us">About Us</a></p>
          <p><a href="https://chicagoeuropeancaregivers.com/services">Out Services</a></p>
          <p><a href="https://chicagoeuropeancaregivers.com/services/in-home-care">In-Home Care</a></p>
          <p><a href="https://chicagoeuropeancaregivers.com/services/companion-care">Companion Care</a></p>
          <p><a href="https://chicagoeuropeancaregivers.com/services/personal-care">Personal Care</a></p>
          <p><a href="https://chicagoeuropeancaregivers.com/services/live-in-and-overnight-care">Line-In & Overnight Care</a></p>
          <p><a href="https://chicagoeuropeancaregivers.com/articles">Blog</a></p>
          <div style="padding-left:15px;">
          <p>- <a href="https://chicagoeuropeancaregivers.com/articles/caring-for-dementia-patients-at-home">Caring for Dementia Patients at Home: Tips and Strategies</a></p>
          <p>- <a href="https://chicagoeuropeancaregivers.com/articles/choosing-a-home-care-services-placement-agency-over-a-home-health-agency">Choosing a Home Care Services Placement Agency Over a Home Health Agency</a></p>
          <p>- <a href="https://chicagoeuropeancaregivers.com/articles/your-guide-to-in-home-care-benefits-choices-and-hiring">Your Guide to In-Home Care: Benefits, Choices, and Hiring</a></p>
        </div>
          <p><a href="https://chicagoeuropeancaregivers.com/testimonials">Testimonials</a></p>
          <p><a href="https://chicagoeuropeancaregivers.com/frequently-asked-questions">Frequently Asked Questions</a></p>
          <p><a href="https://chicagoeuropeancaregivers.com/contact-us">Contact Us</a></p>
          <p><a href="https://chicagoeuropeancaregivers.com/terms-of-use">Terms Of Use</a></p>
          <p><a href="https://chicagoeuropeancaregivers.com/privacy-policy">Privacy Policy</a></p>
        </div> 
      </section>
    </div>
  </div>
  <Footer />
</PrimaryLayout>