---
import PrimaryLayout from "../layouts/PrimaryLayout.astro";
import Footer from "../components/Footer.astro";

const metaTitle = "Testimonials - Friendly Home Care";
const metaDescription="Our caregivers are here to help with personal care, companion care, and in-home care work. Call for a consultation at 773-545-7776 in Chicago, IL.";
const metaKeywords ="Personalized Home Care, In-home Care, Friendly Home Care in Chicago, IL, European Care Service, European Language, Companion for the Elderly, Assistance for the Seniors, Personal Care, Live-ins Caregivers, Overnight Care, Personal &amp; Trusted In-Home Care Service";
const canonicalUrl = "https://www.chicagoeuropeancaregivers.com/testimonials";
---

<PrimaryLayout metaTitle={metaTitle} metaDescription={metaDescription} metaKeywords={metaKeywords} canonicalUrl={canonicalUrl}>
	<div class="container-fluid">
    <div class="container p-0">
      <section class="row align-items-center">
        <div class="col-12 col-lg-8 offset-lg-2 py-5">
          <h1 class="fw-bold ff-slab uppercase text-center text-primary m-0">
            Testimonials
          </h1>
        </div>
        <div class="col-12 col-lg-8 offset-lg-2">
          <img
            src="/images/friendly-home-care-20.jpg"
            class="w-100 br-default img-p-cover"
            alt="Elderly women giving thumbs up"
          />
        </div>
      </section>
    </div>
  </div>
  <div class="container-fluid bg-white">
    <div class="container py-5">
      <section class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
          <h2 class="fw-bold mb-4 ff-slab uppercase text-tertiary">
            See What Others Are Saying About Friendly Home Care
          </h2>
          <p class="text-center mb-4"><a class="btn btn-secondary" href="https://www.google.com/search?q=Friendly+Homecare+chicago+il&rlz=1C1GCEA_enPH1064PH1064&oq=Friendly+Homecare+chicago+il&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIHCAEQIRigAdIBCDUyODdqMGo3qAIAsAIA&sourceid=chrome&ie=UTF-8#lrd=0x880fcd92251fdf65:0xb8209290fb91fda2,1,,,," target="_blank">
            <i class="fas fa-comment me-1"></i> Leave Us a Review
          </a></p>
          <div class="card card-body quote-card bg-light">
            <div class="quote">
              <i class="fas fa-quote-left fa-2x"></i>
                Caregivers on time or early, knowledgeable, friendly, they take intelligent initiative. We highly recommend this company for home care needs!
              <i class="fas fa-quote-right fa-2x"></i>
            </div>
            <div class="fw-bold"><i class="fas fa-user me-2"></i> Leon D.</div>
          </div>
          <div class="card card-body quote-card bg-light">
            <div class="quote">
              <i class="fas fa-quote-left fa-2x"></i>
              I have been very pleased with Friendly Home Care. I've been working with them for 7 years.  I've been happy with the pay. They're very responsible, helpful and have never had any issues.
              <i class="fas fa-quote-right fa-2x"></i>
            </div>
            <div class="fw-bold"><i class="fas fa-user me-2"></i> Aleksandra S.</div>
          </div>
          <div class="card card-body quote-card bg-light">
            <div class="quote">
              <i class="fas fa-quote-left fa-2x"></i>
              My family and I hired 2 caregivers that were recommended by Elizabeth, the owner of Friendly Home Care. Elizabeth took her time to listen to our needs, she was so understanding.  She picked out the 2 caregivers we hired and had for over 5 years until my mother passed. We also recommended her to a couple of our friends who were also pleased with her help.
              <i class="fas fa-quote-right fa-2x"></i>
            </div>
            <div class="fw-bold"><i class="fas fa-user me-2"></i> MaryAnn R.</div>
          </div>
          <div class="card card-body quote-card bg-light">
            <div class="quote">
              <i class="fas fa-quote-left fa-2x"></i>
              Elizabeth was great to work with. She helped me find a backup caregiver for my 97 year old mom. She listened to my needs and made it happen! Thank you Elizabeth and Friendly Home care.
              <i class="fas fa-quote-right fa-2x"></i>
            </div>
            <div class="fw-bold"><i class="fas fa-user me-2"></i> Rosemary R.</div>
          </div>
          <div class="card card-body quote-card bg-light">
            <div class="quote">
              <i class="fas fa-quote-left fa-2x"></i>
              Very friendly and genuine, strait forward with out any misunderstanding, hope we will have more Agency like this! P.S. recommended to anybody who need help finding job  or finding someone for the job
              <i class="fas fa-quote-right fa-2x"></i>
            </div>
            <div class="fw-bold"><i class="fas fa-user me-2"></i> Ewa M.</div>
          </div>
          <div class="card card-body quote-card bg-light">
            <div class="quote">
              <i class="fas fa-quote-left fa-2x"></i>
              Excellent company! Listened to our family’s needs for a caregiver, and found us the perfect person for the job!
              <i class="fas fa-quote-right fa-2x"></i>
            </div>
            <div class="fw-bold"><i class="fas fa-user me-2"></i> C D.</div>
          </div>
          <div class="card card-body quote-card bg-light">
            <div class="quote">
              <i class="fas fa-quote-left fa-2x"></i>
              I have a pleasure to worked with Friendly Home Care Agency for many years, as one of her employee. Mrs Elizabeth is very friendly, professional,  enthusiastic, compassion person, respectful and ambitious, when it comes to her finding good jobs for her workers. Mrs Elizabeth she has a lot of empathy for others, she listen about people needs and preferences. She wants to make sure that her employees and potential employers are both happy. She has excellent skills of human beings. She found me numerous job opportunities that are perfectly tailored for me. Not only in regards to my experience and education, but also pairing my personality with similar generous and kind families. I'm truly happy with everything she has done for me and I would highly recommend Mrs Elizabeth and her team at Friendly Home Care.
              <i class="fas fa-quote-right fa-2x"></i>
            </div>
            <div class="fw-bold"><i class="fas fa-user me-2"></i> Katarzyna Z.</div>
          </div>
          <div class="card card-body quote-card bg-light">
            <div class="quote">
              <i class="fas fa-quote-left fa-2x"></i>
              It is professional and responsible selection of personnel for working with clients. Best impressions. Thank you very much for helping my family when we really needed it! I highly recommend Friendly Home Care!
              <i class="fas fa-quote-right fa-2x"></i>
            </div>
            <div class="fw-bold"><i class="fas fa-user me-2"></i> Vadim L.</div>
          </div>
          <div class="card card-body quote-card bg-light">
            <div class="quote">
              <i class="fas fa-quote-left fa-2x"></i>
              Thank you for your personal interest on my behalf. I hope the weekend person is as nice as the weekday girl.
              <i class="fas fa-quote-right fa-2x"></i>
            </div>
            <div class="fw-bold"><i class="fas fa-user me-2"></i> Gloria Strauss</div>
          </div>
          <div class="card card-body quote-card bg-light">
            <div class="quote">
              <i class="fas fa-quote-left fa-2x"></i>
              Thank you for getting the girl Aleksandra for me in such short notice. We really appreciate how kind you have been.
              <i class="fas fa-quote-right fa-2x"></i>
            </div>
            <div class="fw-bold"><i class="fas fa-user me-2"></i> Margaret Giuliano</div>
          </div>
          <div class="card card-body quote-card bg-light">
            <div class="quote">
              <i class="fas fa-quote-left fa-2x"></i>
              We thank you for your cooperation helping us to enjoy our Brazilian vacation. The caregiver you provided for our handicapped daughter, Kristie Jadwiga, was excellent. She was cooperative, friendly, and an excellent companion for our daughter. She drove her to and from her job, cooked, and even cleaned the house. We would highly recommend your agency. Thank you very much.
              <i class="fas fa-quote-right fa-2x"></i>
            </div>
            <div class="fw-bold"><i class="fas fa-user me-2"></i> K. and P. I</div>
          </div>
          <div class="card card-body quote-card bg-light">
            <div class="quote">
              <i class="fas fa-quote-left fa-2x"></i>
              Thank you for your assistance in bringing Raina Petkevicienie into our home. She has been a huge help and good company. I will recommend your agency, and especially you, Elizabeth, to my friends.
              <i class="fas fa-quote-right fa-2x"></i>
            </div>
            <div class="fw-bold"><i class="fas fa-user me-2"></i> Maureen Gillespe</div>
          </div>
          <div class="card card-body quote-card bg-light">
            <div class="quote">
              <i class="fas fa-quote-left fa-2x"></i>
              May your Hollidays be filled with joy and good cheer. I wish you God's blessings in your admirable work you do and lots of health and happiness.
              <i class="fas fa-quote-right fa-2x"></i>
            </div>
            <div class="fw-bold"><i class="fas fa-user me-2"></i> Peter Stann</div>
          </div>
          <div class="card card-body quote-card bg-light">
            <div class="quote">
              <i class="fas fa-quote-left fa-2x"></i>
              I have told my friends how happy I am with Elizabeth Kula and your agency. Three of them have already called you on my recommendation. I hope they will be as I am happy with their choices as I am with mine.
              <i class="fas fa-quote-right fa-2x"></i>
            </div>
            <div class="fw-bold"><i class="fas fa-user me-2"></i> Dorothy Glickman</div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="container-fluid bg-blue text-light">
    <div class="container py-6">
      <section class="row">
        <div class="col-12 col-lg-8 offset-lg-2 text-center">
          <h2 class="h1 fw-bold mb-5 ff-slab uppercase text-white">
            Your Feedback Matters!
          </h2>
          <p>
            Please share your feedback on our home care services.<br />Reach out to schedule a consultation at 773-545-7776 in Chicago, IL.
          </p>
          <p class="pt-4 d-flex justify-content-center">
            <a class="btn btn-light text-dark mx-2" href="https://www.google.com/search?q=Friendly+Homecare+chicago+il&rlz=1C1GCEA_enPH1064PH1064&oq=Friendly+Homecare+chicago+il&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIHCAEQIRigAdIBCDUyODdqMGo3qAIAsAIA&sourceid=chrome&ie=UTF-8#lrd=0x880fcd92251fdf65:0xb8209290fb91fda2,1,,,," target="_blank">
              <i class="fas fa-comment me-1"></i> Leave Us a Review
            </a>
            <a href="tel:7735457776" class="btn btn-light text-dark mx-2">
              <i class="fas fa-phone me-1"></i> 773-545-7776
            </a>
          </p>
        </div>
      </section>
    </div>
  </div>
  <Footer />
</PrimaryLayout>