---
---

<div class="container-fluid bg-light">
  <section class="container py-0">
    <div class="row" id="hero">
      <div class="col-12 col-lg-6">
        <div
          id="hero-content"
          class="d-flex flex-column justify-content-center px-2 py-5 px-md-4 ps-lg-5 pe-lg-0"
        >
          <h1 class="hero-title">
            Your Trusted Home Services Placement Agency
          </h1>
          <p class="hero-text">
            At Friendly Home Care, we pride ourselves on being one of the
            largest sources of honest, dependable service and friendly
            staff.
          </p>
          <div class="d-flex flex-row">
            <a href="#" class="btn btn-secondary me-3">Get in Touch</a>
            <a href="#" class="btn btn-light">About Us</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>