---
const year = new Date().getFullYear();
---

<div class="container-fluid bg-blue2 text-light">
  <div class="container py-6">
    <footer class="row">
      <div class="col-12 col-lg-4">
        <ul class="text-light text-center text-lg-start">
          <li class="mb-2 mb-lg-1"><a href="/">Home</a></li>
          <li class="mb-2 mb-lg-1"><a href="/about-us">About Us</a></li>
          <li class="mb-2 mb-lg-1"><a href="/services">Our Services</a></li>
          <li class="mb-2 mb-lg-1"><a href="/frequently-asked-questions">FAQs</a></li>
          <li class="mb-2 mb-lg-1"><a href="/contact-us">Contact Us</a></li>
          <li class="mb-2 mb-lg-1"><a href="/sitemap">Sitemap</a></li>
        </ul>
      </div>
      <div class="col-12 col-lg-4">
        <div class="d-flex flex-column justify-content-between">
          <ul class="text-light text-center text-lg-start mb-4">
            <li class="mb-2 mb-lg-1"><a href="/articles">Blog</a></li>
            <li class="mb-2 mb-lg-1"><a href="/testimonials">Testimonials</a></li>
            <li class="mb-2 mb-lg-1"><a href="/terms-of-use">Terms Of Use</a></li>
            <li class="mb-2 mb-lg-1"><a href="/privacy-policy">Privacy Policy</a></li>
          </ul>
          <div
            class="d-flex justify-content-center justify-content-lg-start mb-5 mb-lg-0"
          >
            <a
              class="mx-4 ms-lg-0 me-lg-4"
              href="https://facebook.com/people/Friendly-Home-Care/61550585432696/"
              target="_blank"
              aria-label="Friendly Home Care's Facebook Page"
            >
              <i class="fab fa-facebook fa-2x"></i>
            </a>
            <a
              class="mx-4 ms-lg-0 me-lg-4"
              href="mailto:friendly@chicagoeuropeancaregivers.com"
              target="_blank"
              aria-label="Friendly Home Care's Email Address"
            >
              <i class="fas fa-envelope fa-2x"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 text-center text-lg-start">
        <p class="mb-4">
          <strong>Friendly Home Care is licensed by IDPH and IDL</strong>
          and is a member of important groups like the
          <em>Illinois Continuity of Care Association</em> and the
          <em>Virtual Senior Academy</em>.
        </p>
        <p class="m-0">
          &copy; Copyright {year} ChicagoEuropeanCaregivers.com
        </p>
      </div>
    </footer>
  </div>
</div>