---
---

<div class="container-fluid bg-blue text-light">
  <div class="container py-6">
    <section class="row">
      <div class="col-12 col-lg-8 offset-lg-2 text-center">
        <h2 class="h1 fw-bold mb-5 ff-slab uppercase text-white">
          General Inquiries and Consultations
        </h2>
        <p>
          If you have any general inquiries or would like to arrange a
          consultation with our team, please don't hesitate to reach out.
          Call us at 773-545-7776 in Chicago, IL.
        </p>
        <p class="pt-4">
          <a href="tel:7735457776" class="btn btn-light text-dark">
            <i class="fas fa-phone me-1"></i> 773-545-7776
          </a>
        </p>
      </div>
    </section>
  </div>
</div>