---
import {navigate} from "../js/nav.js";
---

<div class="container-fluid bg-light">
  <div class="container py-4">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid p-0">
            <a class="navbar-brand" href="/">
              <picture>
                <source class="logo" type="image/svg+xml"
                srcset="/images/Friendly-Home-Care-Logo.svg">
                <img
                  class="logo"
                  src="/images/Friendly-Home-Care-Logo.png"
                  alt="Friendly Home Care Logo"
                />
              </picture>
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse py-2" id="navbarNav">
              <ul class="navbar-nav me-0 ms-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about-us">About Us</a>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <span class="visually-hidden">Home Care</span> Services
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="/services/in-home-care">In-Home Care</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="/services/companion-care">Companion Care</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="/services/personal-care">Personal Care</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="/services/live-in-and-overnight-care">Live-In &amp; Overnight Care</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown d-none d-lg-block d-xl-none">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    More
                  </a>
                  <ul class="dropdown-menu">
                    <!-- <li>
                      <a class="dropdown-item" href="/articles">Blog</a>
                    </li> -->
                    <li>
                      <a class="dropdown-item" href="/testimonials">Testimonials</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="/frequently-asked-questions">FAQs</a>
                    </li>
                  </ul>
                </li>
                <!-- <li class="nav-item d-lg-none d-xl-block">
                  <a class="nav-link" href="/articles">Blog</a>
                </li> -->
                <li class="nav-item d-lg-none d-xl-block">
                  <a class="nav-link" href="/testimonials">Testimonials</a>
                </li>
                <!-- <li class="nav-item d-lg-none d-xl-block">
                  <a class="nav-link" href="/frequently-asked-questions">FAQs</a>
                </li> -->
                <li class="nav-item ms-0 ms-lg-4 mt-2 mt-lg-0">
                  <a class="btn btn-primary" href="/contact-us">Contact <span class="d-xl-none d-xxl-inline">Us</span></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>